$added-green: lightgreen;
$border: 2px solid #333;
$blue: cornflowerblue;
$commented-yellow: #f9f1a8;
$delete-red: lightcoral;
$main-margin: .5rem 0;
$offwhite: #eee;
$sans-serif: 'Merriweather Sans', 'Helvetica', sans-serif;
$serif: 'Cardo', serif;
$serif-spacing: .2rem;


// $commented-yellow: lemonchiffon;
