.added {
  background-color: lightgreen;
}

.new-comment-box {
  border: 1px solid;
  height: 100px;
  padding: .5rem;
  width: 400px;
}

.inline-comment-box {
  background-color: lemonchiffon;
  border: 1px solid;
  padding: .5rem;
}

.commented {
  background-color: lemonchiffon;
}

.deleted {
  background-color: lightcoral;
}

* :focus {
  outline: none;
}
.new-doc-text {
  border: 1px solid;
  height: 400px;
  width: 250px;
}
