@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Arapey|Merriweather:300');
* :focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
  :visited {
    color: black;
  }
}

button {
  border: 1px solid #aaa;
  border-radius: 0px;
  color: #222;
  cursor: pointer;
  font-weight: bold;
  margin: $main-margin;
  padding: .5rem;
}

input {
  margin: auto 0px;
}

[name="cancel"], [name="leave"], [name="rereview"] {
  background: $delete-red;
}

[name="completed"], [name="join"] {
  background: cornflowerblue;
}

[name="next"] {
  background: linear-gradient(90deg, whitesmoke 15%, rgba(112, 128, 144, .5));
}

[name="previous"] {
  background: linear-gradient(-90deg, whitesmoke 15%, rgba(112, 128, 144, .5));
}

[name="team-link"], [name="save"], [name="submit"] {
  background: $added-green;
}

.added {
  background-color: $added-green;
}

.commented {
  background-color: $commented-yellow;;
  cursor: pointer;
}

.deleted {
  background-color: $delete-red;
}

.doc-title-span {
  font-weight: bold;
  margin: .5rem 0 0 auto;
  text-align: center;

  span {
    font-size: 1.75rem;
    margin-right: 1rem;
  }
}

.inline-comment-box {
  border: $border;
  padding: .5rem;
}

.main-margin {
  margin: $main-margin;
}

.mobile-view {
  border: $border;
  display: flex;
  flex-direction: column;
  font-family: 'Arapey', serif;
  height: 800px;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
  width: 375px;
}

.nav-buttons {
  margin: .5rem 0 .5rem auto;
}

.new-comment-box {
  border: $border;
  height: 100px;
  padding: .5rem;
  width: 300px;
}

.new-doc-text {
  border: $border;
  height: 400px;
  width: 300px;
}

.new-team {
  height: 2rem;
}

.review-buttons {
  margin-bottom: .5rem;
}

.right-align {
  align-self: flex-end;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 0px;
}

.text-wrapper {
  font-family: 'Merriweather', serif;
  line-height: 175%;
  letter-spacing: .05rem;
  // overflow: auto;
  text-align: justify;
}

.to-doc-button {
  font-family: Helvetica, sans-serif;
  // font-size: 1rem;
  text-align: left;
}
