<div>
  {{test}}
</div>
<h3>
  {{team.displayName}}
</h3>
<div>
  <button type="button" name="new-doc">
    <a ng-href="#!/docs/{{team.firebaseID}}/new">New Doc</a>
  </button>
</div>
<div>
  <button type="button" name="link">
    <a ng-href="#!/team-login">Switch Teams</a>
  </button>
</div>
<div>
  <div>
    <h4>My Documents Pending</h4>
    <div ng-repeat="doc in usersDocs | filter: {completed: false}">
      <a ng-href="#!/docs/{{team.firebaseID}}/pending/{{doc.firebaseID}}">{{doc.title}}</a>
    </div>
  </div>
  <div>
    <h4>Team Documents Pending</h4>
    <div ng-repeat="doc in teamDocs | filter: {completed: false}">
      <a ng-href="#!/docs/{{team.firebaseID}}/pending/{{doc.firebaseID}}">{{doc.title}}</a>
      <span> - {{doc.displayName}}</span>
    </div>
  </div>
  <div>
    <h4>My Documents Completed</h4>
    <div ng-repeat="doc in usersDocs | filter: {completed: true}">
      <a ng-href="#!/docs/{{team.firebaseID}}/completed/{{doc.firebaseID}}">{{doc.title}}</a>
      <span> completed by - {{doc.reviewerName}}</span>
    </div>
  </div>
  <div>
    <h4>Team Documents Completed</h4>
    <div ng-repeat="doc in teamDocs | filter: {completed: true}">
      <a ng-href="#!/docs/{{team.firebaseID}}/completed/{{doc.firebaseID}}">{{doc.title}}</a>
      <span> - {{doc.displayName}}'s doc, completed by - {{doc.reviewerName}}</span>
    </div>
  </div>
</div>
