<h3 class="title">
  {{team.displayName}}
</h3>
<div>
  <button type="button" name="new-doc" ng-click="toNewDoc()">
    New Doc
  </button>
  <button type="button" name="link" ng-click="toTeamsLogin()">
    Switch Teams
  </button>
</div>
<div class="doc-listing">
  <div>
    <h3>My Documents Pending</h3>
    <div ng-repeat="doc in usersDocs | filter: {completed: false}">
      <button ng-click="toDocPending(doc.firebaseID)">{{doc.title}}</button>
    </div>
  </div>
  <div>
    <h3>Team Documents Pending</h3>
    <div ng-repeat="doc in teamDocs | filter: {completed: false}">
      <button ng-click="toDocPending(doc.firebaseID)">
        {{doc.title}} <br>
        {{doc.displayName}}
      </button>
    </div>
  </div>
  <div>
    <h3>My Documents Completed</h3>
    <div ng-repeat="doc in usersDocs | filter: {completed: true}">
      <button ng-click="toDocCompleted(doc.firebaseID)">
        {{doc.title}} <br>
        Completed by - {{doc.reviewerName}}
      </button>
    </div>
  </div>
  <div>
    <h3>Team Documents Completed</h3>
    <div ng-repeat="doc in teamDocs | filter: {completed: true}">
      <button class="to-doc-button" ng-click="toDocCompleted(doc.firebaseID)">
        {{doc.title}} <br>
        {{doc.displayName}}'s doc <br>
        Completed by - {{doc.reviewerName}}
      </button>
    </div>
  </div>
</div>
