<div>
  <input type="email" name="email" placeholder="Email" ng-model="auth.email">
  <input type="password" name="password" placeholder="Password" ng-model="auth.password">
  <div>
    <button type="button" name="login" ng-click="login()">LOGIN</button>
    <button type="button" name="logout" ng-click="logout()">LOGOUT</button>
  </div>

  <input type="text" name="display-name" placeholder="Display Name" ng-model="user.displayName">
  <input type="email" name="email" placeholder="Email" ng-model="auth.email">
  <input type="password" name="password" placeholder="Password" ng-model="auth.password">
  <div>
    <button type="button" name="Register" ng-click="registerEmail()">REGISTER</button>

  </div>
  <a ng-href="#!/team-login">Team Login</a>
</div>
