<div>
  <div>
    <input class="main-margin" type="text" name="display-name" placeholder="Display Name" ng-show="registerBool" ng-model="user.displayName">
  </div>
  <div>
    <input class="main-margin" type="email" name="email" placeholder="Email" ng-model="auth.email">
  </div>
  <div>
    <input class="main-margin" type="password" name="password" placeholder="Password" ng-model="auth.password">
  </div>
  <div>
    <button class="main-margin" type="button" name="login" ng-show="!registerBool" ng-click="login()">LOGIN</button>
    <button class="main-margin" type="button" name="button" ng-show="registerBool" ng-click="registerEmail()">CONFIRM</button>
    <button class="main-margin" type="button" name="button" ng-show="registerBool" ng-click="registerBool=false">CANCEL</button>
  </div>
  <div>
    <button class="main-margin" type="button" name="Register" ng-click="registerBool=true" ng-show="!registerBool">REGISTER</button>
  </div>
  <!-- <div>
    <button class="main-margin"  type="button" name="logout" ng-show="!registerBool" ng-click="logout()">LOGOUT</button>
  </div> -->
</div>
