<div>
  <input type="text" name="display-name" placeholder="Display Name" ng-show="registerBool" ng-model="user.displayName">
  <input type="email" name="email" placeholder="Email" ng-model="auth.email">
  <input type="password" name="password" placeholder="Password" ng-model="auth.password">
  <div>
    <button type="button" name="login" ng-show="!registerBool" ng-click="login()">LOGIN</button>
    <a ng-href="#!/team-login">Team Login</a>
    <button type="button" name="button" ng-show="registerBool" ng-click="registerEmail()">CONFIRM</button>
    <button type="button" name="button" ng-show="registerBool" ng-click="registerBool=false">CANCEL</button>
  </div>
  <div>
    <button type="button" name="Register" ng-click="registerBool=true" ng-show="!registerBool">REGISTER</button>
  </div>
  <button type="button" name="logout" ng-show="!registerBool" ng-click="logout()">LOGOUT</button>
</div>
