<div>
  {{test}}
</div>
<h3>{{teamName}}</h3>
<p>
  <button type="button" name="completed" ng-click="completed()">Completed</button>
  <button type="button" name="save" ng-click="save()">Save</button>
  <button type="button" name="cancel" ng-click="cancel()">Cancel</button>
</p>
<span>{{doc.title}}</span>
<i> - {{doc.displayName}}</i>
<button type="button" name="button">Comment</button>
<div>
  <span id="{{segment.firebaseID}}" ng-repeat="segment in segments" class="{{segment.classes}}" contenteditable="true" ng-blur="diff(segment.firebaseID, segment.text)">{{segment.text}} </span>
</div>
