<h3>{{teamName}}</h3>
<div class="nav-buttons">
  <div ng-show="!doc.completed">
    <button type="button" name="completed" ng-click="completed()">Completed</button>
    <button type="button" name="save" ng-click="save()">Save</button>
    <button type="button" name="cancel" ng-click="cancel()">Cancel Changes</button>
  </div>
  <div ng-show="doc.completed">
    <button type="button" name="all-docs()" ng-click="toAllDocs()">Back</button>
  </div>
</div>
<div class="doc-title-span">
  <span>{{doc.title}}</span>
  <i> - {{doc.displayName}}</i>
</div>
<div class="review-buttons">
  <div ng-show="!doc.completed">
    <button type="button" name="comment" ng-click="toggleCommentBox()">Comment</button>
  </div>
  <div ng-show="doc.completed">
    <button type="button" name="next" ng-click="nextComment()">Next Comment</button>
    <button type="button" name="previous" ng-click="prevComment()">Prev. Comment</button>
    <button type="button" name="rereview" ng-click="rereview()">Send Back to Review</button>
  </div>
</div>
<div ng-show="commentActive" class="new-comment-wrapper">
  <div id="newCommentBox" class="new-comment-box" contenteditable="true">
  </div>
  <button type="button" name="saveComment" ng-click="saveComment()">Save</button>
  <button type="button" name="cancelComment" ng-click="toggleCommentBox()">Cancel</button>
</div>
</div>
<div class="text-wrapper">
  <span ng-repeat="segment in segments" id="{{segment.firebaseID}}" class="{{segment.classes}}" contenteditable="true" ng-blur="diff(segment.firebaseID, segment.text)" ng-click="toggleReviewBox(segment)">{{segment.text}} </span>
</div>
