<div>
  {{test}}
</div>
<div ng-repeat="team in usersTeams">
  <a ng-href="#!/docs/{{team.id}}">{{team.displayName}}</a>
</div>
<div ng-repeat="team in newTeams">
  <button type="button" name="button" ng-click="team.showPasswordInput=true">{{team.displayName}}</button>
  <div ng-show="team.showPasswordInput">
    <input type="password" name="password" ng-model="team.attempt" placeholder="Enter password">
    <button type="button" name="submit" ng-click="addUserToTeam(team)">SUBMIT</button>
    <button type="button" name="cancel" ng-click="team.showPasswordInput=false">CANCEL</button>
  </div>
</div>
<div>
  <a href="#!/team-login/register">Create a new team</a>
</div>
<div>
  <a ng-href="#!/login">Back to login</a>
</div>
