<div>
  {{test}}
</div>
<div>
  <input type="search" ng-model="searchTerm" placeholder="Search for a team">
</div>
<div>
  <a href="#!/team-login/register"><h3>Create a new team</h3></a>
</div>
<h3>Joined Teams</h3>
<div ng-repeat="team in usersTeams | filter: {displayName: searchTerm}">
  <a ng-href="#!/docs/{{team.firebaseID}}">{{team.displayName}}</a>
  <button type="button" name="leave" ng-click="revokeAccess(team.firebaseID)">Leave Team</button>
</div>
<h3>Join a New Team</h3>
<div ng-repeat="team in newTeams | filter: {displayName: searchTerm}">
  <button type="button" name="button" ng-click="team.showPasswordInput=true">{{team.displayName}}</button>
  <div ng-show="team.showPasswordInput">
    <input type="password" name="password" ng-model="team.attempt" placeholder="Enter password">
    <button type="button" name="submit" ng-click="addUserToTeam(team)">SUBMIT</button>
    <button type="button" name="cancel" ng-click="team.showPasswordInput=false">CANCEL</button>
  </div>
</div>
<hr>
<button type="button" name="logout" ng-click="userLogout()">LOGOUT</button>
