<h3 class="title new-team">
  {{team.displayName}}
</h3>
<div>
  <input type="text" name="team-name" ng-model="team.displayName" placeholder="Enter Team Name">
  <div>
    <input type="password" name="password" ng-model="team.password" placeholder="Enter password">
    <input type="password" name="reenter" ng-model="reenter" placeholder="Reenter password">
  </div>
</div>
<div>
  <button type="button" name="submit" ng-click="registerTeam()">SUBMIT</button>
  <button type="button" name="cancel" ng-click="toTeamsLogin()">CANCEL</button>
</div>
