<h3 class="title right-align">
  Welcome, {{displayName}}
</h3>
<button class="right-align" type="button" name="logout" ng-click="userLogout()">Logout</button>
<div>

</div>
<div class="space-between">
  <input type="search" ng-model="searchTerm" placeholder="Search for a team">
  <button ng-click="toTeamRegister()" name="register-team">
    Create a new team
  </button>
</div>
<h2>Joined Teams</h2>
<div class="space-between" ng-repeat="team in usersTeams | filter: {displayName: searchTerm}">
  <button ng-click="toAllDocs(team.firebaseID)" name="team-link">{{team.displayName}}</button>
  <button type="button" name="leave" ng-click="revokeAccess(team.firebaseID)">Leave</button>
</div>
<h2>Join a New Team</h2>
<div ng-repeat="team in newTeams | filter: {displayName: searchTerm}">
  <button type="button" name="join" ng-click="toggleTeamPasswordInput(team)">{{team.displayName}}</button>
  <div class="space-between" ng-show="team.showPasswordInput">
    <input type="password" name="password" ng-model="team.attempt" placeholder="Enter password">
    <button type="button" name="submit" ng-click="addUserToTeam(team)">Submit</button>
    <button type="button" name="cancel" ng-click="team.showPasswordInput=false">Cancel</button>
  </div>
</div>
